<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge, chrome=1" />
  <title>bitcoinppi</title>
  <link rel="stylesheet" href="" />
</head>
<body>
<%= yield %>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<%= yield_content :script %>
</body>
</html>

